<% if @token.nil? %> 
    <p>Du har ingen nyckel ännu</p>
    <%= link_to "Begär en nyckel", gen_token_path %>
<% else %>
    API Nyckel:<%= @token.to_s %> <br />
    <%= link_to "Ta bort nyckel", delete_token_path(:user_id => current_user.id) %>
<% end %>

<div id="logout-btn">
    <%= link_to "Logga ut", logout_path %>
</div>