// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
    position: relative;
    border-radius: 0px;
	position: relative;
  	top: 40%;
  	transform: translateY(-50%);
}
#log-in-form {
	width: 23%;
	margin: 0 auto;
}